.form {
  display: flex;
  justify-content: space-between;
  font-family: var(--primary-font);
  background-color: var(--fourth-color);
}

.form-block {
  width: 50%;
  background: var(--gradient);
  border: 1px solid black;
  border-radius: 20px;
  margin:12px;
  padding: 12px;
}

.form-block label {
  display: block;
  margin-bottom: 6px;
}

.form-block input,
.form-block select {
  width: 100%;
  padding:6px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.form-block input:focus,
.form-block select:focus {
  border-color: var(--primary-color);
}

.form-basket-items {
  width: 50%;
}

.form-basket-items-list {
  width: 95%;
  margin: 12px 0 12px 12px;
  padding: 0.3em 0 0.3em 0;
  background: var(--gradient);
  list-style: none;
  border: 1px solid black;
  border-radius: 12px;
}

.error-message {
  color: red;
}

.form-basket-item-message {
  padding: 12px;
  font-weight: bold;
}

.button-sumbit {
  font-size: var(--primary-size);
  font-weight: bold;
  background: var(--gradient);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  padding: 6px;
  transition: 0.3s;
  background-size: 170%;
  cursor: pointer;
  margin: 12px 0;
}

.button-sumbit:hover,
.button-sumbit:focus {
  background-position: 100%;
  filter: saturate(2);
  border: 1px solid var(--primary-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

label {
  margin-top: 6px;
}

.form li {
  background-color: var(--thirty-color);
  border: 1px solid var(--primary-color);
  margin: 12px;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .form-block input,
  .form-block select {
    width: 100%;
    padding: 6px;
    margin-bottom: 3px;
  }

  .form {
    flex-direction: column;
    justify-content: space-between;
  }

  .form-block {
    width: auto;
    margin: 12px;
  }

  .form-basket-items {
    width: auto;
  }

  .button-sumbit {
    margin-top: 10px;
  }
}

@media (min-width: 1980px) {
  .form-block input,
  .form-block select {
    font-size: var(--secondary-size);
  }

  .form-block label {
    font-size: var(--secondary-size);
  }

  .form-block button {
    font-size: var(--secondary-size);
  }
}
