.header {
  font-size: var(--primary-size);
}

.header-block {
  background: var(--gradient);
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: var(--primary-size);
  padding: 8px 0;
  align-items: center;
}

.basket-icon-wrapper {
  cursor: pointer;
  position: relative;
}

.basket-item-count {
  font-size: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  background-color: red;
  border-radius: 50%;
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  margin-left: 6px;
}

.working-hours {
  list-style: none;
  margin-left: 6px;
  font-weight: bold;
}

.working-hours-icon {
  margin-left: 12px;
}

.image-logo {
  width: 80px;
  height: 80px;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  background-color: white;
  position: relative;
}

.search-input input {
  border: none;
  flex: 1;
  padding: 6px;
  transition: 0.3s;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  opacity: 0.7;
  transform: translateY(-50%);
}

.search-block {
  opacity: 0.9;
}

.search-input input:hover,
.search-input input:focus {
  outline: none;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.search-icon:hover,
.search-icon:focus {
  opacity: 1;
}

.basket-block-icon{
  transition: .3s;
}

.basket-block-icon:hover {
  color: var(--primary-color);
  filter: saturate(2);
}

@media (max-width: 767px) {
  .header-block {
    flex-direction: column;
    text-align: center;
  }

  .info-block,
  .image-logo,
  .search-block {
    margin-bottom: 8px;
  }
}

@media (min-width: 1980px) {
  .header-block {
    font-size: var(--secondary-size);
  }

  .search-input-insert {
    font-size: var(--secondary-size);
  }

  .search-input {
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 15px 15px;
  }

  .search-input-insert-icon {
    width: 30px;
    height: 30px;
  }

  .search-icon {
    top: 55%;
    right: 5%;
  }

  .basket-block-icon {
    width: 100px;
    height: 100px;
  }
}
