.Navbar {
  font-family: var(--primary-font);
  font-size: var(--primary-size);
  width: 100%;
  min-height: 6%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center; 
}

.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around; 
  
}

.nav_list_link{
  width: 25%;
  text-align: center;
  height: auto;
  color: var(--thirty-color);
  text-decoration: none;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.nav_list_link:hover,
.nav_list_link:focus{
  background-color: #7dbd57;
}

.button-style {
  font-size: var(--primary-size);
  background-color: var(--primary-color);
  color: var(--thirty-color);
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.button-style:hover {
  background-color: #7dbd57;
}