.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form input {
  font-size: var(--primary-size);
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-button {
  font-size: var(--primary-size);
  margin: 0.5em;
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  color: var(--thirty-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.auth-button:hover,
.auth-button:focus{
  background-color: var(--thirty-color);
  color:var(--primary-color);
}

.valid-error {
  font-size: var(--primary-size);
  color:red
}