.product-block {
  width: 100%;
  margin-left: 24px;
}

.seed-product {
  display: flex;
  padding: 12px;
  background-color: var(--fourth-color);
}

.seed-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 767px) {
  .product-block {
    width: 100%;
    margin-left: 0;
  }

  .seed-product {
    padding: 4px;
  }

  .seed-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
