.footer-block{
    width: 100%;
    color:black;
    display: flex;
    justify-content: space-around;
    background-color:var(--thirty-color);
    padding: 2em 0 2em 0;
}

.copyright-protection{
    margin-top: 0.3em;
}

.footer-description-block{
    font-size: var(--secondary-size);
    width: 50%;
    display: flex;
    justify-content:space-between;
}

.footer-client-info{
    list-style:none;
}

.footer-contact-info{
    list-style:none;
}


.footer-contact-info a:hover,
.footer-contact-info a:focus {
  color: var(--primary-color);
}

.footer-icon:hover,
.footer-icon:focus {
  color: var(--primary-color);
}

.footer-catalog-items a{
    color:black;
    text-align: left;
    padding-bottom: 0.3em;
    width: 100%;
    justify-content: left;
}


.footer-client-info a {
    width: 100%;
    color:black;
    text-align: left;
    justify-content: left;
    padding-bottom: 0.3em;
}

.footer-client-info a:hover,
.footer-client-info a:focus {
    background-color:white;
    color: var(--primary-color);
}

.footer-catalog-items a:hover,
.footer-catalog-items a:focus {
    background-color:white;
    color: var(--primary-color);
}

.footer-icon{
    margin-right: 0.3em;
}

.footer-description-block .nav_list_link {
    height: auto;
}

li,  h3 {
    padding-bottom: 0.3em;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

@media (max-width: 767px) {
  .footer-block {
    flex-direction: column; 
    text-align: center; 
  }

  .footer-logo-block{
    margin-bottom: 0.5em;
  }

  .footer-description-block{
    width: 100%;
    flex-direction: column; 
    text-align: center; 
    align-items:center
  }

  .footer-catalog-items a{
    justify-content: center;
  }

  .footer-client-info a{
    justify-content: center;
  }
}

@media (min-width: 1980px){
    .image-logo{
    width: 160px;
    height: 160px;
}
}