.footer-block {
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-around;
  background: var(--gradient);
  padding: 18px 0;
  border-top: 1px solid var(--primary-color);
}

.footer-description-block {
  font-size: var(--secondary-size);
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-client-info,
.footer-contact-info {
  list-style: none;
}

.footer-catalog-items {
  margin: 0 12px;
  list-style-type: none;
}

.footer-catalog-items .footer-link,
.footer-client-info .footer-link {
  width: 100%;
  color: black;
  text-align: left;
  justify-content: left;
  padding-bottom: 8px;
}

.footer-icon {
  margin-right: 8px;
}

.footer-list-link {
  width: 25%;
  text-align: center;
  height: 100%;
  color: var(--thirty-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contact-item {
  padding-bottom: 8px;
}

.footer-link {
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--primary-color);
}

.footer-title {
  padding-bottom: 8px;
}

.copyright-protection {
  margin-top: 8px;
  margin-left: 8px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .footer-block {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo-block {
    margin-bottom: 10px;
  }

  .footer-description-block {
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-catalog-items .footer-link,
  .footer-client-info .footer-link {
    justify-content: center;
  }

  .copyright-protection {
    margin-left: 0;
  }
}

@media (min-width: 1980px) {
  .image-logo {
    width: 160px;
    height: 160px;
  }
}
