.filters {
  height: auto;
  min-height: 500px;
  width: 100%;
  min-width: 15%;
  background:var(--gradient);
  font-size: var(--primary-size);
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  padding: 0.5em 0.5em;
  border: 1px solid black;
  border-radius: 1em;
}

.filters.show {
  max-height: 500px;
}

.seed-list-filter {
  display: flex;
  flex-direction: column;
}

.seed-list-filter-cheakbox {
  margin: 0 0.5em 0 0.5em;
}

.filters-title {
  margin: 0.5em 0 0 0.5em;
}

.reset-filters-button{
  margin: 0.5em 0.5em 1em 0.5em ;
  padding: 2px;
  display: flex;
  background-color: var(--thirty-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-size: var(--primary-size);
  color: var(--secondary-color);
  cursor: pointer;
}

.reset-filters-button:hover,
.reset-filters-button:focus{
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--thirty-color);
}

.reset-filters-button.hidden {
  display: none;
}

.select-filter {
  margin: 0.5em 0 0.5em 0.5em;
  font-size: var(--primary-size);
  border-radius:1em;
}

.toggle-filters-button {
  display: block;
  margin-top: 1em;
  padding: 0.5em 1em;
  background:var(--gradient);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--primary-size);
  color: #333;
  cursor: pointer;
}

.toggle-filters-button {
  display: none;
}

@media (max-width: 767px) {
  .filters {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background-color: white;
    border-right: 2px solid var(--primary-color);
    font-size: var(--primary-size);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    overflow: auto;
    z-index: 3;
    padding-right: 1em;
  }

  .filters.show {
    transform: translateX(0);
    max-height: 100vh;
  }

  .toggle-filters-button {
    display: block;
    padding: 0.5em 1em;
    background-color: var(--thirty-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: var(--primary-size);
    color: var(--secondary-color);
    cursor: pointer;
    z-index: 5;
    margin:0 0.5em;
  }

  .toggle-filters-button:hover,
  .toggle-filters-button:focus{
      background:var(--gradienteffect);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}

@media (max-width: 300px){
  .toggle-filters-button{
    padding: 0.1em 0.1em;
  }
}

@media (min-width: 1980px) {
  .filters {
    font-size: var(--secondary-size); 
    min-height: 50vh;
  }

  .seed-list-filter-cheakbox,
  .select-filter {
    font-size: var(--secondary-size); 
  }
}